body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: rgb(214, 133, 133);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 400px;
}

.form {
  background: linear-gradient(135deg, #9b59b6, #71b7e6);
  
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
}

.form h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.form input {
  margin-bottom: 15px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  font-size: 16px;
  transition: all 0.2s;
  background-color: aliceblue;
  color: #000;
}

.form input:focus {
  border-color: #9b59b6;
  box-shadow: 0 0 5px rgba(155, 89, 182, 0.5);
}

.form button {
  padding: 12px;
  background: #9b59b6;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s;
}

.form button:hover {
  background: #71368a;
  transform: translateY(-2px);
}
